---
// import data from "@data/data.json";
import gitLogo from "super-tiny-icons/images/svg/github.svg";

const response = await fetch("http://localhost:3001/api/data");
const data = await response.json();
---

<div
  class="flex flex-col gap-2 p-8 sm:flex-row sm:items-center sm:gap-6 sm:py-4 mb-8 bg-sky-900"
>
  <img
    class="mx-auto block h-24 rounded-full sm:mx-0 sm:shrink-0"
    src="/images/avatar.jpg"
    alt=""
  />
  <div class="space-y-2 text-center sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg font-semibold">{data.about.title}</p>
      <p class="font-medium text-gray-300">{data.about.subtitle}</p>
    </div>
    <p
      class="border-purple-200 hover:border-transparent hover:bg-purple-600 hover:text-white active:bg-purple-700"
    >
      {data.about.description}
    </p>
    <div class="font-thin">
      <a href="https://github.com/kamimefis?tab=repositories" target="_blank">
        <span class="text-blue-400"
          >&#9829; Da click aquí para visitar mi Github
        </span>
      </a>
    </div>
  </div>
</div>
